<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="single-footer-widget footer_1">
                    <a href="index.html"> <img src="/img/logo.png" alt=""> </a>
                    <p>India's First Live E-Learning Platform
                        Where you decide your Batchmates!
                    </p>
                    <p>Splitzlearn is an ed-tech community run by IIT(ISM) Dhanbad Alumnus,
                        who identified the need of an interactive learner friendly live training for people.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-4">

            </div>
            <div class="col-xl-3 col-sm-6 col-md-4">
                <div class="single-footer-widget footer_2">
                    <h4>Contact us</h4>
                    <div class="contact_info">
                        <p><span> Address :</span> Sapphire Hostel, IIT(ISM) Dhanbad </p>
                        <p><span> Phone :</span> (+91) 9079868390</p>
                        <p><span> Email : </span>
                            <a href="mailto:splitzlearn@gmail.com">splitzlearn@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright_part_text text-center">
                    <div class="row">
                        <div class="col-lg-12">
                            <p class="footer-text m-0">
                                Copyright &copy;
                                All rights reserved | Made with
                                <i class="ti-heart" aria-hidden="true"></i> by Splitzlearn
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>



<script src="//js/jquery-1.12.1.min.js"></script>

<script src="/js/popper.min.js"></script>

<script src="/js/bootstrap.min.js"></script>

<script src="/js/jquery.magnific-popup.js"></script>

<script src="/js/swiper.min.js"></script>

<script src="/js/masonry.pkgd.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>

<script src="/js/owl.carousel.min.js"></script>

<script src="/js/slick.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>

<script src="/js/custom.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
<script defer src="../../../static.cloudflareinsights.com/beacon.min.js"
    data-cf-beacon='{"rayId":"602f2e4ddcdad9c8","version":"2020.12.1","si":10}'></script>

<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.17/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.17/dist/js/uikit-icons.min.js"></script>
<script data-cfasync="false" type="text/javascript"
    src="https://cdn.rawgit.com/dwyl/learn-to-send-email-via-google-script-html-no-server/master/form-submission-handler.js"></script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/etrain/course-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 17 Dec 2020 08:13:47 GMT -->

</html>